/* CSS file */

body {
  background-color: #002469;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center; 
}


#logohimprote {
  width: 280px;
  height: auto; 
  padding-top: 20px;
}

#masuk{
  color:white;
  font-family: "Poppins";
}
.login-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

button {
  font-weight: 400;
  color: #808080;
  border: none;
  border-radius: 22.5px;
  margin: 10px;
}

button img {
  height: fit-content;
  width: 25px;
  margin-right: 8px;
}

footer {
  width: 100%;
  text-align: center;
  position: fixed; 
  bottom: 0; 
}
