body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  #header {
    padding: 10px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid #002469;
  }
  
  .logo img {
    width: 60%;
  }
  
  .reminder {
    font-size: small;
    font-weight: bold;
  }
  
  main {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    width: 100%;
  }
  
  #progja-list {
    max-height: fit-content;
    max-width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .progja-list-wrapper {
    overflow: hidden;
    width: 100%;
  }
  
  .progja-list {
    display: flex;
    height: fit-content;
    padding: 5px;
    transition: transform 0.5s ease;
  }
  
  .progja-list .progja {
    min-width: 200px;
    min-height: fit-content;
    margin-right: 10px;
    border: 2px solid #002469;
    box-shadow: 0 4px 4px rgba(0, 0.5, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
    font-size: small;
  }
  
  .progja .button {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  
  .button .details {
    border: none;
    outline: none;
    color: #002469;
    font-weight: bold;
    background-color: transparent;
  }
  
  .button .divisi {
    border: none;
    outline: none;
    background-color: #002469;
    border-radius: 30px;
    color: white;
    padding: 5px 10px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
  }
  
  .dot i {
    font-size: 24px;
    color: #bbb;
    transition: color 0.3s ease;
  }
  
  .dot.active i,
  .dot:hover i {
    color: #717171;
  }
  
  .hidden {
    display: none;
  }
  
  .deskripsi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #002469;
    border-radius: 15px;
    width: 90%;
    padding: 10px;
    margin: 15px auto;
    text-align: justify;
  }
  
  .judul {
    font-size: 15px;
    font-weight: bold;
  }
  
  .deskripsi .teks {
    font-size: small;
    font-weight: 600;
  }
  
  .choice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 100%;
    margin-bottom: 10px;
    /* Membatasi lebar navbar */
    height: fit-content;
    background-color: transparent;
    border: 3px solid #002469;
    box-shadow: 0 4px 4px rgba(0, 0.5, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto;
  }
  
  .choice-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: transparent;
    border: 3px solid #002469;
    box-shadow: 0 4px 4px rgba(0, 0.5, 0, 0.5);
    padding: 5px 10px;
    width: fit-content;
    height: fit-content;
  }
  
  .choice-item.active {
    background-color: #002469;
    color: white;
  }
  
  .job-list {
    width: 90%;
    margin: 15px auto;
    border-radius: 15px;
  }
  
  .jobdesk {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    border: 2px solid #002469;
    box-shadow: 0 4px 4px rgba(0, 0.5, 0, 0.5);
    border-radius: 15px;
    margin-bottom: 10px;
  }
  
  .jobdesk-checkbox {
    width: 15px;
    height: 15px;
    border-radius: 30px;
    border: 3px solid #002469;
    box-shadow: 0 4px 4px rgba(0, 0.5, 0, 0.5);
    appearance: none;
  }
  
  .jobdesk-checkbox:checked {
    background-color: #002469;
  }
  
  .jobdesk-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
  
  .jobdesk-title {
    font-size: 14px;
    font-weight: bold;
  }
  
  .jobdesk-subtitle {
    font-size: small;
  }
  
  .jobdesk-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border-top: 2px solid #002469;
    padding: 5px;
    position: fixed;
    bottom: 0;
  }
  
  .navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: fit-content;
    height: 100%;
    background-color: transparent;
  }
  
  .navbar-item.active {
    color: #002469;
  }
  
  .navbar-item span {
    font-size: small;
  }
  