

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    overflow-x: hidden; /* Mengunci scroll horizontal */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    border-bottom: 2px solid #1f4e79;
    width:auto;
    margin: 0 auto; /* Center the container horizontally */
 
}

.logo {
    display: flex;
    align-items: left;
}
.logo img {
    height: 25px;
}
.reminder {
    font-size: small;
    font-weight: bold;
    color: black;
}
.welcome-container {
    padding: 15px 0px;
    content: center;
}
.welcome-message {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
.sub-message {
    font-weight: bold;
    font-size: small;
    text-align: center;
    margin-left:-120px;
    margin-top:-2px;
    
}
.sub-message span {
    color: #002469;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.calendar {
    height: 280px;
    width: 280px;
    max-width: 350px;
    background-color: transparent;
    border: 2px solid #002469;
    border-radius: 10px;
    padding: 10px;
    padding-top:0px;
    padding-bottom: 0px;
    margin: 0 auto;
    
    overflow: hidden;

  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    border-bottom: 2px solid #999999;
    font-weight: 600;
    color: black;
    padding: 0px 0;
    margin-top: -12px;
  }
  
 
  
  .calendar-week-day {
    height: 50px;
    display: grid;
  
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
  
  }
  
  .calendar-week-day div {
    display: grid;
    place-items: center;
    color: #002469;
  }
  
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: #002469;

    
  }
  
  .calendar-days div {
  
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0;
    position: relative;
    cursor: pointer;
    transition: all ease;
    pointer-events: none;
}
  .calendar-days div span {
    position: absolute;
    pointer-events: none;
  }
 
  .year-picker {
    display: flex;
  }
  
  .year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
    transition: all ease;
  }
  
  .year-change:hover {
    background-color: #edf0f5;
  }
  
  .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .toggle {
    display: flex;
  }
  
  .toggle span {
    margin-right: 10px;
    color: #002469;
  }
  

  
  .month-list > div {
    display: grid;
    place-items: center;
  }
  
  .month-list > div > div {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
  }
  
  .month-list > div > div:hover {
    background-color: #666666;
  }
  
  .event {
    background-color: #002469;
  }
  .event form {
    background-color: aqua;
  }
  
  .calendar-week-day div {
    font-family: 'Poppins', sans-serif; /* Menggunakan font Poppins */
    font-weight: bold; /* Mengatur tebal (bold) */
    font-size: 10px; /* Ukuran font */

   
}

.task-list {
    overflow: hidden;
    width: 350px;
padding-top:15px;
    margin: 0 auto; /* Menempatkan di tengah */
   
}

.task {
    display: flex;
    align-items: center;3

    border-radius: 10px;
    margin-bottom: 10px;
    width: 90%; /* Mengurangi lebar */
    height:50px;
    
}

.task-time {
    font-size: 1em;
    
    margin-right: 16px;
    color: #333;
    width: 50px;
    padding-left: 30px;
}

.task-content {
    flex-grow: 5;
    background-color: #e0e0e0;
    border-radius: 8.5px;
    padding: 10px;
   
}

.task-title {
    font-size: 10px;
    margin: 0;
    color: #333;
    font-weight: bold;
    
}

.task-subtitle {
    font-size: 8px;
    color: #888;
}

.task-checkbox {
    margin-right: 16px;
}

.task:last-child {
    margin-bottom: 0;
}


.task {
position: relative; /* Menetapkan posisi relatif untuk memungkinkan penempatan pseudo-element */
}
