body {
  background-color: #f0f2f5;
  font-family: Poppins;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
header img {
  width: 400px;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid #1f4e79;
  padding: 20px;
  max-width: 400px;
  position: relative; /* Position relative for absolute positioning */
}
.profile-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px; /* Center horizontally and add bottom margin */
  display: block; /* Ensure it's treated as a block element */
}
.text-content {
  text-align: center;
  color: black;
  font-weight: 500;
}
.title {
  font-weight: bold;
  margin-bottom: 10px;
}
.name,
.email,
.division,
.position {
  margin-bottom: 0px;
  font-size: 11px;
}
.division {
  font-weight: bold;
}
.position {
  font-style: italic;
}
.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background-color: #002469;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 129px;
}

nav {
  width: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  width: 304px;
  height: 54px;
  background-color: #fff;
  border-radius: 30px;
  position: fixed;
  bottom: 5px; /* Adjust bottom margin if necessary */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  border: 2px solid #ccc; /* Added border */
  justify-content: space-evenly;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* enhanced shadow */
}
.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  cursor: pointer;
  padding-top: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}
.navbar-item.active {
  color: #002469;
}
.navbar-item i {
  font-size: 15px;
}
.navbar-item span {
  font-size: 9px;
  margin-top: 5px; /* Add space between icon and text */
}
.fade-in {
  animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
