body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  padding: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 2px solid #002469;
}

.logo img {
  width: 60%;
}

.reminder {
  font-size: small;
  font-weight: bold;
}

.welcome-container {
  padding: 10px 10px;
}

.welcome-message {
  font-size: larger;
  font-weight: bold;
}

.sub-message {
  font-weight: bold;
  font-size: small;
}

.sub-message span {
  color: #002469;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

main {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  padding-bottom: 100px;
}

.calendar-container {
  height: 280px;
  width: 320px;
  max-width: 350px;
  background-color: transparent;
  border: 2px solid #002469;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 20px auto;
  /* Center the calendar */
  overflow: hidden;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  border-bottom: 2px solid #999999;
  font-weight: 600;
  color: black;
  padding: 5px;
  margin-top: -12px;
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: #002469;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: #002469;
}

.calendar-days div {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
  position: relative;
  cursor: pointer;
  transition: all ease;
  pointer-events: none;
}

.calendar-days div span {
  position: absolute;
  pointer-events: none;
}

.year-picker {
  display: flex;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
  transition: all ease;
}

.year-change:hover {
  background-color: #edf0f5;
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle {
  display: flex;
}

.toggle span {
  margin-right: 10px;
  color: #002469;
}

.month-list>div {
  display: grid;
  place-items: center;
}

.month-list>div>div {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: white;
}

.month-list>div>div:hover {
  background-color: #666666;
}

.event {
  background-color: #002469;
}

.event form {
  background-color: aqua;
}

.calendar-week-day div {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 10px;
}
#task-list{
  display: flex;
  justify-content: center;
}
.task-list {
  background-color: #f4f4f4ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 320px;
  max-width: 100%;
  padding: 10px;
  border: 2px solid #002469;
  /* Tambahkan border biru tua */
}

.task {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 10px;
}

.task-time {
  font-size: 1.1em;
  margin-right: 16px;
  color: #333;
  width: 50px;
  padding-left: 30px;
}

.task-content {
  flex-grow: 1;
  background-color: rgb(225, 223, 223);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
}

.task-title {
  font-size: 0.9em;
  margin: 0;
  color: #333;
  font-weight: bold;
}

.task-subtitle {
  font-size: 0.7em;
  color: #888;
}

.task-checkbox {
  margin-right: 16px;
}

.task:last-child {
  margin-bottom: 0;
}

.task-checkbox {
  display: none;
  /* Sembunyikan checkbox */
}

.task {
  position: relative;
  /* Menetapkan posisi relatif untuk memungkinkan penempatan pseudo-element */
}

.task:before {
  content: "";
  position: absolute;
  left: 15px;
  /* Sesuaikan jarak dari sisi kiri */
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  /* Mengurangi lebar */
  height: 10px;
  /* Mengurangi tinggi */
  border-radius: 50%;
  /* Membuat lingkaran */
  background-color: red;
  /* Warna biru tua */

}

.task-checkbox:checked+.task:before {
  background-color: lightblue;
  /* Warna ketika tugas selesai */
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100%;
  /* Membatasi lebar navbar */
  height: 60px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-item.active {
  color: #002469;
  transform: translateY(-5px);
}

.navbar-item i {
  font-size: 24px;
}

.navbar-item span {
  font-size: 12px;
  margin-top: 5px;
}

.navbar-item:hover {
  color: #007BFF;
}