body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  padding: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 2px solid #002469;
}

.logo img {
  width: 60%;
}

.reminder {
  font-size: small;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  width: 100%;
}

#progja-list {
  height: fit-content;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  display: flex;
  position: relative;
  left: 0;
}

.progja-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  gap: 1em;
  margin: auto;
  height: fit-content;
  padding: 5px;
  overflow-x: auto;
}

.progja-list::-webkit-scrollbar {
  width: 0;
}

.progja-list .progja {
  min-width: 200px;
  min-height: fit-content;
  margin-right: 10px;
  border: 2px solid #002469;
  box-shadow: 0 4px 4px rgba(0, 0.5, 0, 0.5);
  border-radius: 15px;
  max-width: 100%;
  padding: 15px;
  margin: 5px 0;
  padding: 10px;
  font-size: small;
}

.progja .button {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.button .details {
  border: none;
  outline: none;
  background-color: transparent;
  color: #002469;
  font-weight: bold;
}

.button .divisi {
  border-radius: 10px;
  border: none;
  background-color: #002469;
  color: white;
  font-weight: 100;
  width: fit-content;
  padding: 0 10px;
}

.judul {
  font-size: 20px;
  font-size: 15px;
  font-weight: bold;
}

#deskripsi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

.deskripsi {
  border: 2px solid #002469;
  border-radius: 15px;
  padding: 10px;
  text-align: justify;
  width: 90%;
  margin: 0 0 10px 0;
}

.deskripsi .teks {
  font-size: small;
  font-weight: 600;
}

.slideshow-container {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
}

.slides {
  display: none;
  width: 100%;
  justify-content: center;
}

.slides.active {
  display: flex;
  width: 100%;
  justify-content: center;
}

.choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 92%;
  margin: 0 0 10px 0;
  /* Membatasi lebar navbar */
  height: fit-content;
  background-color: transparent;
  border: 3px solid #002469;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.choice-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: bold;
}

.choice-item.active {
  color: #002469;
  transform: translateY(-5px);
  position: relative;
}

.choice-item span {
  font-size: 15px;
  margin-top: 5px;
}

.choice-item::after {
  content: "";
  height: 3px;
  background-color: #002469;
  width: 0;
  transition: all 0.3s ease;
}

.choice-item:hover::after {
  color: #002469;
  width: 100%;
}

.job-list {
  align-items: center;
  justify-content: center;
  max-width: 280px;
  /* Anda bisa mengatur lbar maksimum sesuai kebutuhan */
  background-color: #f4f4f4ff;
  border-radius: 10px;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 90%;
  max-width: 100%;
  padding: 10px;
  border: 2px solid #002469;
  /* Tambahkan border biru tua */
}

label {
  margin: auto;
  text-transform: uppercase;
  border: 2px solid #002469;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #002469;
  border-radius: 15px;
  color: white;
  max-width: 100%;
  width: fit-content;
  padding: 5px;
  font-size: small;
}
.job-list label{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.jobdesk {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 10px;
}

.jobdesk-time {
  font-size: 1.1em;
  margin-right: 16px;
  color: #333;
  width: 50px;
  padding-left: 30px;
}

.jobdesk-content {
  flex-grow: 1;
  background-color: rgb(225, 223, 223);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
}

.jobdesk-title {
  font-size: 0.9em;
  margin: 0;
  color: #333;
  font-weight: bold;
}

.jobdesk-subtitle {
  font-size: 0.7em;
  color: #888;
}

.jobdesk-checkbox {
  margin-right: 16px;
}

.jobdesk:last-child {
  margin-bottom: 0;
}

.jobdesk-checkbox {
  display: none;
  /* Sembunyikan checkbox */
}

.jobdesk {
  position: relative;
  /* Menetapkan posisi relatif untuk memungkinkan penempatan pseudo-element */
}

.jobdesk-time:before {
  content: " ";
  position: absolute;
  left: 15px;
  /* Sesuaikan jarak dari sisi kiri */
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  /* Mengurangi lebar */
  height: 10px;
  /* Mengurangi tinggi */
  border-radius: 50%;
  /* Membuat lingkaran */
  background-color: red;
  /* Warna biru tua */
}

.jobdesk-checkbox:checked+.jobdesk:before {
  background-color: lightblue;
  /* Warna ketika tugas selesai */
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100%;
  /* Membatasi lebar navbar */
  height: 60px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-item.active {
  color: #002469;
  transform: translateY(-5px);
}

.navbar-item i {
  font-size: 24px;
}

.navbar-item span {
  font-size: 12px;
  margin-top: 5px;
}

.navbar-item:hover {
  color: #007BFF;
}